/* ---Variables CSS (Bonus y Orden) ---*/

:root{
  --primary-color: #2563eb;
  --dark-color: #1e293b;
  --fuente-principal: 'Roboto' , sans-serif;
  --bg-color: #f8f9fa;
  --text-color: #333333
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--fuente-principal);
  background-color: var(--bg-color);
  color: var(--text-color);
}

/*Para lo que es la navegación*/

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-color);
  padding: 1rem 2rem;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a{
  color:white;
  text-decoration: none;
} 

.logo{
  color: white;
  font-weight: 700;
}